<p style="color: green"><%= notice %></p>

<h1>Cartridges</h1>

<table id="cartridges">
  <thead>
    <tr>
      <th>Game</th>
      <th>Code</th>
      <th>Build</th>
      <th>Revision</th>
      <th>Region</th>
      <th>Game version</th>
    </tr>
  </thead>

  <% @cartridges.each do |cartridge| %>
    <%= render cartridge %>
    <!--p>
      <%= link_to "Show this cartridge", cartridge %>
    </p-->
  <% end %>
</table>

<%= link_to "New cartridge", new_cartridge_path %>
