<div id="<%= dom_id game %>">
  <h1 class="display-1">
    <%= game.title %>
  </h1>


  <h2>Cartridges</h2>
  <table id="cartridges" class="table table-striped">
  <thead>
    <tr>
      <th>Game</th>
      <th>Code</th>
      <th>Build</th>
      <th>Revision</th>
      <th>Region</th>
      <th>Game version</th>
    </tr>
  </thead>

  <% game.cartridges.each do |cartridge| %>
    <%= render cartridge %>
  <% end %>
  </table>
</div>
